XML/Fisa.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT DATELE_PERSONALE (NUME, PRENUME, DATA_NASTERII, LOCUL_NASTERII , SEXUL, STARE_CIVILA)>
<!ELEMENT NUME (#PCDATA)>
<!ELEMENT PRENUME (#PCDATA)>
<!ELEMENT DATA_NASTERII (#PCDATA)>
<!ELEMENT LOCUL_NASTERII (#PCDATA)>
<!ELEMENT SEXUL (#PCDATA)>
<!ELEMENT STARE_CIVILA (CASATORITE, NECASATORITE ,DIVORTAT)>
<!ELEMENT CASATORITE (#PCDATA)>
<!ELEMENT NECASATORITE (#PCDATA)>
<!ELEMENT DIVORTAT (#PCDATA)>
<!ELEMENT CNP (#PCDATA)>